@charset "utf-8";
        * {
            box-sizing: border-box;
            text-align: center;
        }
        h1{
            background-color:pink;
            text-align: center;
            border-radius: 10px;

        }

        #sec1{
            width: 30%;
            float: left;
            background-color: orchid;
            height: 200px;
        }

        #sec2{
            padding: 0px;
            font-size: 20px;
            width: 40%;
            float: left;
            background-color: violet;
            height: 200px;
        }
        
        #sec3{
            width: 30%;
            float: left;
            background-color: rgb(193, 142, 243);
            height: 200px;
        }

        footer{
            background-color:skyblue;
            border-radius: 10px;
        }

        table{
            height: 170px;
        }